<html>
  <body onload="SetDir()">
  <header> Uh no! Glitch Glitched! </header>
    <link rel="stylesheet" href="/404.css">
  <h4>
    I did not really expect this, I must say. Try one of the fixes below!
  </h4>
  <ul>
    <h5>
      Check Page Name
    </h5>
    <h5>
      Check URL
    </h5>
    <h5>
      Try again!
    </h5>
  </ul>
  <h3>
    ERROR DATA: (send this to the developer or create a issue on github, if you think this is a bug!)
  </h3>
  <ul>
    <p>
    Error Code: 404
  </p>
    <p>
      Error Name: PAGE-NOT-FOUND
    </p>
    <p>
      File: 404.html
    </p>
    </ul>
  <p>
    If you send the above to the developer, be sure to add the URL (https://www.printnet.glitch.me/whatever)
    </p>
    <img src="https://cdn.glitch.com/eecabd81-4dbb-4814-972f-602816fb83e7%2FPrintnet.png?1527641793163">
  </body>
</html>