<html>
  <body>
    <link rel="stylesheet" href="/dashboard.css">
    <h1 id="guild">
      Configure (LOADING...)
    </h1>
    <p>Set Prefix</p>  <input type="text" id="Prefix"> <button onlick="Prefix()">Confirm</button>
    <br>
    <p>Set Nickname</p>  <input type="text" id="Nickname"> <button onlick="Nickname()">Confirm</button>
    <br>
    <p>Autorole (Role cannot contain spaces.)</p>  <input type="text" id="Autorole"> <button onlick="Autorole()">Confirm</button>
    <br>
    <p>Emotes</p> <button onclick="EmoteOn()">ON</button>  <button onclick="EmoteOff()">OFF</button>
    <script src="../dashboard.js"></script>
  </body>
</html>