<html>
  <head>
    <title>Discord</title>
  </head>
  <body>
    <link rel="stylesheet" href="/discord.css">
    <header> Printnet Discord Server </header>
    <h2>
       Are you haveing trouble with Printnet?
    </h2>
    <h1>
      Or just want in on the action?
    </h1>
    <h4>
      Either way,
    </h4>
    <button onclick="location.href='https://discord.gg/HkwyfT9'">
      Join our discord!
    </button>
    <iframe src="https://discordapp.com/widget?id=448288649805824000&theme=dark&username=!%20WyattPlayz" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
  </body>
</html>