<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Printnet Website</title>
    <script>
      if (location.protocol != 'https:') {
       location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
      }
    </script>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header id="bold">
      Printnet - A Discord Bot
    </header>
    <h1>
      Printnet. A Discord Bot.
    </h1>
    <button onclick="location.href='https://printnet.glitch.me/invite'">Get Printnet</button>
    <br>
    <button>
      <a href="/login">Goto Dashboard</a>
    </button>
    <br>
    <button id="icon-added" onclick="location.href='https://printnet.glitch.me/discord'">
      Join Discord 
    </button>
    <br>
    <button onclick="location.href='https://printnet.glitch.me/github'">
      Goto Github
    </button>
    <footer id="italic">Copyright 2018 - https://www.printnet.glitch.me</footer>
    <script src="/client.js"></script>
    <img src="https://cdn.glitch.com/eecabd81-4dbb-4814-972f-602816fb83e7%2FPrintnet.png?1527641793163">
  </body>
</html>
