<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="discord.VERSION.min.js"></script>
    <script type="text/javascript" src="./Bot.js"></script>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      Welcome to Printnet!
    </header>
    <h3>
      Click the button below to login to your Discord Account
    </h3>
    <button onclick="location.href='https://discordapp.com/api/oauth2/authorize?client_id=448646122693591046&redirect_uri=https%3A%2F%2Fwww.printnet.glitch.me%2Fserver&response_type=code&scope=guilds%20guilds.join%20email%20identify'">Login!</button>
    <img src="https://cdn.glitch.com/19aedbf5-acdd-4cfb-9aa0-47a372a1c20b%2FPrintnet.png?1526842384995">
    <h4>
      Or are you already logged in? If so, Click the NEXT Button Below!
    </h4>
    <button onclick="location.href='https://printnet.glitch.me/server'">NEXT</button>
    <h5>
      PSST! Did you Even invite Printnet Yet?
    </h5>
    <button onclick="location.href='https://discordapp.com/api/oauth2/authorize?client_id=447811226202931204&permissions=2096360695&scope=bot'">Invite Printnet!</button>
    <p>
      © Copyright 2018 Printnet
    </p>
  </body>
</html>